In [1]:
import pandas as pd

In [2]:
df_people = pd.read_csv('data/baseballdatabank-master/core/People.csv')

In [3]:
df_people.head().T

,0,1,2,3,4
playerID,aardsda01,aaronha01,aaronto01,aasedo01,abadan01
birthYear,1981,1934,1939,1954,1972
birthMonth,12,2,8,9,8
birthDay,27,5,5,8,25
birthCountry,USA,USA,USA,USA,USA
birthState,CO,AL,AL,CA,FL
birthCity,Denver,Mobile,Mobile,Orange,Palm Beach
deathYear,NaN,NaN,1984,NaN,NaN
deathMonth,NaN,NaN,8,NaN,NaN
deathDay,NaN,NaN,16,NaN,NaN
deathCountry,NaN,NaN,USA,NaN,NaN
deathState,NaN,NaN,GA,NaN,NaN
deathCity,NaN,NaN,Atlanta,NaN,NaN
nameFirst,David,Hank,Tommie,Don,Andy
nameLast,Aardsma,Aaron,Aaron,Aase,Abad
nameGiven,David Allan,Henry Louis,Tommie Lee,Donald William,Fausto Andres
weight,215,180,190,190,184
height,75,72,75,75,73
bats,R,R,R,R,L
throws,R,R,R,R,L
debut,2004-04-06,1954-04-13,1962-04-10,1977-07-26,2001-09-10
finalGame,2015-08-23,1976-10-03,1971-09-26,1990-10-03,2006-04-13
retroID,aardd001,aaroh101,aarot101,aased001,abada001
bbrefID,aardsda01,aaronha01,aaronto01,aasedo01,abadan01

In [4]:
df_batting = pd.read_csv('data/baseballdatabank-master/core/Batting.csv')

In [7]:
df_pitching = pd.read_csv('data/baseballdatabank-master/core/Pitching.csv')

In [9]:
df_hof = pd.read_csv('data/baseballdatabank-master/core/HallOfFame.csv')

In [10]:
df_hof.head().T

                    0         1          2          3          4
playerID     cobbty01  ruthba01  wagneho01  mathech01  johnswa01
yearid           1936      1936       1936       1936       1936
votedBy         BBWAA     BBWAA      BBWAA      BBWAA      BBWAA
ballots           226       226        226        226        226
needed            170       170        170        170        170
votes             222       215        215        205        189
inducted            Y         Y          Y          Y          Y
category       Player    Player     Player     Player     Player
needed_note       NaN       NaN        NaN        NaN        NaN

In [47]:
#convert finalGame and debut to datetime objects
df_people['debut'] = pd.to_datetime(df_people['debut'])
df_people['finalGame'] = pd.to_datetime(df_people['finalGame'])

In [50]:
# Active players = players whose last game was within the last two years
df_active_players = df_people[df_people['finalGame'] > pd.to_datetime('2015-01-01')]

In [70]:
df_active_batters = pd.merge(df_batting, df_active_players, how='left', on='playerID')

In [72]:
df_active_batters = df_active_batters[df_active_batters['finalGame'] > pd.to_datetime('2015-01-01')]

In [62]:
df_active_batters['debut'] = df_active_batters['debut'].dt.date

In [76]:
df_active_batters['debut'] = df_active_batters['debut'].dt.date

In [78]:
df_active_batters_by_year = df_active_batters

In [79]:
goldy_stats = df_active_batters[df_active_batters['playerID'] == 'goldspa01']

In [81]:
goldy_stats.head().T

                   94676        96073        97499        98912        100359
playerID        goldspa01    goldspa01    goldspa01    goldspa01    goldspa01
yearID               2011         2012         2013         2014         2015
stint                   1            1            1            1            1
teamID                ARI          ARI          ARI          ARI          ARI
lgID                   NL           NL           NL           NL           NL
G                      48          145          160          109          159
AB                    156          514          602          406          567
R                      28           82          103           75          103
H                      39          147          182          122          182
2B                      9           43           36           39           38
3B                      1            1            3            1            2
HR                      8           20           36           19           33
RBI                    26           82          125           69          110
SB                      4           18           15            9           21
CS                      0            3            7            3            5
BB                     20           60           99           64          118
SO                     53          130          145          110          151
IBB                     0            4           19           10           29
HBP                     0            4            3            2            2
SH                      0            0            0            0            0
SF                      1            9            5            3            7
GIDP                    4            9           25           10           16
birthYear            1987         1987         1987         1987         1987
birthMonth              9            9            9            9            9
birthDay               10           10           10           10           10
birthCountry          USA          USA          USA          USA          USA
birthState             DE           DE           DE           DE           DE
birthCity      Wilmington   Wilmington   Wilmington   Wilmington   Wilmington
deathYear             NaN          NaN          NaN          NaN          NaN
deathMonth            NaN          NaN          NaN          NaN          NaN
deathDay              NaN          NaN          NaN          NaN          NaN
deathCountry          NaN          NaN          NaN          NaN          NaN
deathState            NaN          NaN          NaN          NaN          NaN
deathCity             NaN          NaN          NaN          NaN          NaN
nameFirst            Paul         Paul         Paul         Paul         Paul
nameLast      Goldschmidt  Goldschmidt  Goldschmidt  Goldschmidt  Goldschmidt
nameGiven     Paul Edward  Paul Edward  Paul Edward  Paul Edward  Paul Edward
weight                225          225          225          225          225
height                 75           75           75           75           75
bats                    R            R            R            R            R
throws                  R            R            R            R            R
debut          2011-08-01   2011-08-01   2011-08-01   2011-08-01   2011-08-01
finalGame      2017-10-01   2017-10-01   2017-10-01   2017-10-01   2017-10-01
retroID          goldp001     goldp001     goldp001     goldp001     goldp001
bbrefID         goldspa01    goldspa01    goldspa01    goldspa01    goldspa01

In [84]:
rows_to_drop = ['lgID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry', 'birthState', 'birthCity',
                'deathYear', 'deathMonth', 'deathDay', 'deathCountry', 'deathState', 'deathCity',
                'nameGiven', 'weight', 'height', 'bats', 'throws', 'retroID', 'bbrefID']
goldy_stats.drop(rows_to_drop, inplace=True, axis=1)

/Users/aaronmcdonald/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [94]:
goldy_stats

,playerID,yearID,stint,teamID,G,AB,R,H,2B,3B,...,BB,SO,IBB,HBP,SH,SF,GIDP,debut,finalGame,name
94676,goldspa01,2011,1,ARI,48,156,28,39,9,1,...,20,53.0,0.0,0.0,0.0,1.0,4.0,2011-08-01,2017-10-01,Paul Goldschmidt
96073,goldspa01,2012,1,ARI,145,514,82,147,43,1,...,60,130.0,4.0,4.0,0.0,9.0,9.0,2011-08-01,2017-10-01,Paul Goldschmidt
97499,goldspa01,2013,1,ARI,160,602,103,182,36,3,...,99,145.0,19.0,3.0,0.0,5.0,25.0,2011-08-01,2017-10-01,Paul Goldschmidt
98912,goldspa01,2014,1,ARI,109,406,75,122,39,1,...,64,110.0,10.0,2.0,0.0,3.0,10.0,2011-08-01,2017-10-01,Paul Goldschmidt
100359,goldspa01,2015,1,ARI,159,567,103,182,38,2,...,118,151.0,29.0,2.0,0.0,7.0,16.0,2011-08-01,2017-10-01,Paul Goldschmidt
101840,goldspa01,2016,1,ARI,158,579,106,172,33,3,...,110,150.0,15.0,7.0,0.0,8.0,14.0,2011-08-01,2017-10-01,Paul Goldschmidt
103340,goldspa01,2017,1,ARI,155,558,117,166,34,3,...,94,147.0,15.0,8.0,0.0,4.0,14.0,2011-08-01,2017-10-01,Paul Goldschmidt

In [87]:
goldy_stats['name'] = goldy_stats['nameFirst'] + ' ' + goldy_stats['nameLast']

/Users/aaronmcdonald/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [91]:
goldy_stats.drop(['nameFirst', 'nameLast'], inplace=True, axis=1)

/Users/aaronmcdonald/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [102]:
aggregations = {'yearID': {'Years': lambda x: max(x) - min(x) + 1},
                'G': {'Games': 'sum'},
                'AB': {'ABs': 'sum'},
                'R': {'Runs': 'sum'},
                'H': {'Hits': 'sum'},
                '2B': {'Doubles': 'sum'},
                '3B': {'Triples': 'sum'},
                'HR': {'HRs': 'sum'},
                'RBI': {'RBIs': 'sum'},
                'SB': {'SBs': 'sum'},
                'CS': {'CS': 'sum'},
                'BB': {'Walks': 'sum'},
                'SO': {'SOs': 'sum'},
                'IBB': {'IBBs': 'sum'},
                'HBP': {'HsBP': 'sum'},
                'SH': {'SacBunts': 'sum'},
                'SF': {'SacFlies': 'sum'},
                'GIDP': {'GIDP': 'sum'}
}
goldy_totals = goldy_stats.groupby(['playerID', 'debut', 'finalGame', 'name']).agg(aggregations)

/Users/aaronmcdonald/anaconda3/lib/python3.6/site-packages/pandas/core/groupby.py:4291: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

In [103]:
goldy_totals

,,,,yearID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
,,,,Years,Games,ABs,Runs,Hits,Doubles,Triples,HRs,RBIs,SBs,CS,Walks,SOs,IBBs,HsBP,SacBunts,SacFlies,GIDP
playerID,debut,finalGame,name,,,,,,,,,,,,,,,,,,
goldspa01,2011-08-01,2017-10-01,Paul Goldschmidt,7,934,3382,614,1010,232,14,176,627.0,117.0,28.0,565,886.0,92.0,26.0,0.0,37.0,92.0