In [21]:
import pandas as pd
import numpy as np
from src import data_cleaning as dc
from collections import defaultdict

In [11]:
people_df = pd.read_csv('src/data/baseballdatabank-master/core/People.csv')
batting_df = pd.read_csv('src/data/baseballdatabank-master/core/Batting.csv')
fielding_df = pd.read_csv('src/data/baseballdatabank-master/core/Fielding.csv')

In [15]:
# initial drop
batting_df2 = dc.initial_drop(batting_df)
batting_df2.head()

,playerID,yearID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,4,0,0,0,0,0,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,25,118,30,32,6,0,0,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,29,137,28,40,4,5,0,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,27,133,28,44,10,2,2,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,25,120,29,39,11,3,0,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

In [16]:
# combine stints into single year collection
batting_df3 = dc.combine_stints(batting_df2)
batting_df3.head()

Combining multiple stints into single years...

,playerID,yearID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,2004,11,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,2006,45,2,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,aardsda01,2007,25,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,2008,47,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,2009,73,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
# map each player's most common position to their batting stats
bat_with_pos_df = dc.map_position(batting_df3, fielding_df)
bat_with_pos_df.head()

Mapping positions to batting stats...

,playerID,yearID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,pos
9,aaronha01,1954,122,468,58,131,27,6,13,69.0,2.0,2.0,28,39.0,0.0,3.0,6.0,4.0,13.0,OF
10,aaronha01,1955,153,602,105,189,37,9,27,106.0,3.0,1.0,49,61.0,5.0,3.0,7.0,4.0,20.0,OF
11,aaronha01,1956,153,609,106,200,34,14,26,92.0,2.0,4.0,37,54.0,6.0,2.0,5.0,7.0,21.0,OF
12,aaronha01,1957,151,615,118,198,27,6,44,132.0,1.0,1.0,57,58.0,15.0,0.0,0.0,3.0,13.0,OF
13,aaronha01,1958,153,601,109,196,34,4,30,95.0,4.0,1.0,59,49.0,16.0,1.0,0.0,3.0,21.0,OF

In [20]:
bat_with_pos_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55053 entries, 9 to 96608
Data columns (total 20 columns):
playerID    55053 non-null object
yearID      55053 non-null int64
G           55053 non-null int64
AB          55053 non-null int64
R           55053 non-null int64
H           55053 non-null int64
2B          55053 non-null int64
3B          55053 non-null int64
HR          55053 non-null int64
RBI         55053 non-null float64
SB          55053 non-null float64
CS          55053 non-null float64
BB          55053 non-null int64
SO          55053 non-null float64
IBB         55053 non-null float64
HBP         55053 non-null float64
SH          55053 non-null float64
SF          55053 non-null float64
GIDP        55053 non-null float64
pos         55053 non-null object
dtypes: float64(9), int64(9), object(2)
memory usage: 8.8+ MB

In [68]:
def condense_df(df0):
    df = df0.set_index('playerID')
    player_list = []
    for player in df.index.unique():
        def_dict = defaultdict(str)
        def_dict['playerID'] = player
        
        if isinstance(df.loc[player, 'pos'], str):
            def_dict['pos'] = df.loc[player, 'pos']
        else:
            def_dict['pos'] = df.loc[player, 'pos'].unique()[0]
            
        for col in df.columns:
            if col == 'yearID' or col == 'pos':
                continue
            import pdb; pdb.set_trace()  
            for i, v in df.loc[player, col]:
#                 import pdb; pdb.set_trace()
                key = 'year' + str(i + 1) + '_' + col
                def_dict[key] = v
                
        player_list.append(def_dict)
    return player_list

In [69]:
play_list = condense_df(bat_with_pos_df)

> <ipython-input-68-fd854b3f2da7>(17)condense_df()
-> for i, v in df.loc[player, col]:
(Pdb) col
'G'
(Pdb) player
'aaronha01'
(Pdb) df.loc[player, col]
playerID
aaronha01    122
aaronha01    153
aaronha01    153
aaronha01    151
aaronha01    153
aaronha01    154
aaronha01    153
aaronha01    155
aaronha01    156
aaronha01    161
aaronha01    145
aaronha01    150
aaronha01    158
aaronha01    155
aaronha01    160
aaronha01    147
aaronha01    150
aaronha01    139
aaronha01    129
aaronha01    120
aaronha01    112
aaronha01    137
aaronha01     85
Name: G, dtype: int64
(Pdb) type(df.loc[player, col]
*** SyntaxError: unexpected EOF while parsing
(Pdb) type(df.loc[player, col])
<class 'pandas.core.series.Series'>
(Pdb) n
TypeError: 'int' object is not iterable
> <ipython-input-68-fd854b3f2da7>(17)condense_df()
-> for i, v in df.loc[player, col]:
(Pdb) n
--Return--
> <ipython-input-68-fd854b3f2da7>(17)condense_df()->None
-> for i, v in df.loc[player, col]:
(Pdb) q

BdbQuit:

In [70]:
player = 'aaronha01'
col = 'G'
test_df = bat_with_pos_df.set_index('playerID')
for i, v in test_df.loc[player, col]:
    print(i)
    print(v)

TypeError: 'int' object is not iterable

In [53]:
player_list

NameError: name 'player_list' is not defined

In [73]:
test_df.loc[player, col].values

array([122, 153, 153, 151, 153, 154, 153, 155, 156, 161, 145, 150, 158,
       155, 160, 147, 150, 139, 129, 120, 112, 137,  85])